{% extends "base.html" %}

{% block title %}Meine Kurse{% endblock %}

{% block body %}
    <h1>Meine aktiven Kurse</h1>
    <div class="searchbar">
        <form action="" method="post">
            <input type="text" name="search" value="{{request.form.search}}" placeholder="Kurs suchen">
            <input type="submit" value="Lupensymbol">
        </form>
    </div>
    {% for course in courses %}
        <a href="/student/course/{{course.name}}">
            <div class="course_name">{{course.name}}</div>
            <div class="course_description">{{course.description}}</div>
        </a>
    {% endfor %}
{% endblock %}