<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    <meta name="description" content="">
    <meta name="author" content="">
    {% endblock %}

    {% assets "common_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% block css %}
    {% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Unsere supertolle Webapp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="navbar-nav ml-auto">
              {% if info.user is defined %}
              <li><span class ="nav-link">Logged in as: {{info['user'].firstName}} {{info['user'].lastName}} - {{info.user.__class__.__name__}}</span> </li>
              <li><a class="nav-link" href="{{ url_for('main.logout') }}"><span class="fas fa-sign-in-alt fa-lg"></span> Logout </a></li>
              {% else %}
            <li><a class="nav-link" href="#"><span class="far fa-user"></span> Sign Up</a></li>
            <li><a class="nav-link" href="{{ url_for('main.login') }}"><span class="fas fa-sign-in-alt fa-lg"></span> Login </a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
          {% if info.user.__class__.__name__ == 'Student' or info.user.__class__.__name__ == 'Lecturer' or info.user.__class__.__name__ == 'Administrator' %}
            <p><a href="/student/">Meine aktiven Kurse</a></p>
            <p><a href="/student/finished_courses">Meine abgeschlossenen Kurse</a></p>
          {% endif %}
          {% if info.user.__class__.__name__ == 'Lecturer' or info.user.__class__.__name__ == 'Administrator' %}
            <p><a href="#">Lecturer</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
          {% endif %}
          {% if info.user.__class__.__name__ == 'Administrator' %}
            <p><a href="#">Administrator</a></p>
            <p><a href="/administrator/statistics">Statistik</a></p>
            <p><a href="/administrator/user_overview">Benutzerverwaltung</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
          {% endif %}
        </div>
        <div class="col-sm-8 text-left">
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% block body %}
                {% endblock %}

            </div>
        </div>
    </div>
    </div>

    <footer id="footer" class="container-fluid">
        <p>Copyright 2018</p>
    </footer>

    {% assets "common_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block js %}
    {% endblock %}
</body>
</html>
