{% extends "base.html" %}

{% block title %}Books{% endblock %}

{% block body %}
<h1>Books</h1>

<p>
<a href="{{ url_for('.add') }}"> add new book</a>
</p>


<table class="table">
      <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
    {% for book in books %}
    <tr><td>{{ loop.index }}</td><td>{{ book.title }}</td><td>{{ book.author }}</td><td>{{ book.year }}</td></tr>
    {% endfor %}
</table>
{% endblock %}
